<p id="notice"><%= notice %></p>

<h1>商品一覧</h1>

<table>
  <thead>
    <tr>
      <th>商品</th>
      <th>価格</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.price.to_s(:delimited) %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '商品を出品する', new_item_path %>
